wezterm/
nvim/
Code/
discord/
dconf/
Electron/
github-copilot/
google-chrome/
go/
glib-2.0/
nextjs-nodejs/
rncbc.org/
systemd/
Docker Desktop/
codecopy/
Zulip/
Jitsi Meet/
ghostty/
Mumble/
Element/
btop/
