wezterm/
nvim/
Code/
discord/
dconf/
Electron/
github-copilot/
google-chrome/
go/
glib-2.0/
nextjs-nodejs/
systemd/
Docker Desktop/
codecopy/
Zulip/
Jitsi Meet/
ghostty/
Mumble/
Element/
btop/
nvm/
composer/
Thunar/accels.scm
emaildefaults
k3brc
zap/
GIMP/3.0
unity3d/Fishing Planet LLC/FishingPlanet

# Sensitive files - authentication tokens, cookies, sessions
pulse/
postgres-sync/
Postman/
session/
qt5ct/
qt6ct/
zap
